<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello Twig!</title>
    <link rel="stylesheet" href="/css/app.css">
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block conteudo %}{% endblock %}
  </body>
</html>
